.wrapper {
  margin: 0 auto;
  width: 90%;
}

p {
  float: left;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #ff008c;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid #341972;
  border-bottom: 50px solid transparent;
}

.trapezoid {
  border-bottom: 100px solid #1d6577;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 100px;
}

.parallelogram {
  width: 150px;
  height: 100px;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  background: #68720e;
}

.star-six {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #960d36;
  position: relative;
}

.star-six:after {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #1b1919;
  position: absolute;
  content: "";
  top: 30px;
  left: -50px;
}

.diamond {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: red;
  position: relative;
  top: -50px;
}

.diamond:after {
  content: '';
  position: absolute;
  left: -50px;
  top: 50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: red;
}

.star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: #948a8a;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #948a8a;
  border-left: 100px solid transparent;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.star-five:before {
  border-bottom: 80px solid #948a8a;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.star-five:after {
  position: absolute;
  display: block;
  color: #948a8a;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #948a8a;
  border-left: 100px solid transparent;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
  content: '';
}

.lock {
  font-size: 8px;
  position: relative;
  width: 18em;
  height: 13em;
  border-radius: 2em;
  top: 10em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3.5em solid red;
  border-right-width: 7.5em;
  border-left-width: 7.5em;
  margin: 0 0 6rem 0;
}

.lock:before {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  border: 2.5em solid #b3ff00;
  width: 14em;
  height: 12em;
  left: 50%;
  margin-left: -7em;
  top: -12em;
  border-top-left-radius: 7em;
  border-top-right-radius: 7em;
}

.lock:after {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  border: 1em solid #059424;
  width: 5em;
  height: 8em;
  border-radius: 2.5em;
  left: 50%;
  top: -1em;
  margin-left: -2.5em;
}

.cross {
  background: #142375;
  height: 100px;
  position: relative;
  width: 20px;
}

.cross:after {
  background: #142375;
  content: "";
  height: 20px;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 100px;
}

.cone {
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 100px solid #084916;
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */